<h2>All contacts</h2>
<a href="/contacts/new">Create a new contact</a>
<% @contacts.each do |contact| %>
  <a href="/contacts/<%= contact.id %>">
    <h3><%= contact.first_name %> <%= contact.last_name %></h3>
  </a>
  <p><%= contact.email %></p>
<% end %>
